# Check documentation coverage

name: dbt Docs Coverage

on:
  push:
    branches:
      - main
  pull_request:

env:
  DBT_PROFILES_DIR: ./.github/
  CLICKHOUSE_DB: "xapi"
  CLICKHOUSE_USER: "ch_admin"
  CLICKHOUSE_PASSWORD: "ch_password"
  TUTOR_ROOT: ./.ci/

jobs:
  build:
    name: Build docs and check coverage
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8.x"
      - name: Install dependencies
        run: |
          pip install tutor-contrib-aspects
          pip install -r requirements.txt
          dbt deps
      - name: Initialize Open edX
        continue-on-error: true
        run: |
          tutor plugins enable aspects
          tutor config save
          tutor local start -d
          tutor local do init -l aspects
          tutor local do load-xapi-test-data
      - name: Check docs coverage
        run: |
          dbt run
          dbt docs generate
          dbt-coverage compute doc --cov-fail-under 1.0
